/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

body {
    overflow-x:hidden;
    /*font-family: "Freight Sans Bold","lucida grande",tahoma,verdana,arial,sans-serif !important;*/
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: auto;
    background: #101010;
    border-color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: fixed;
    padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: fixed;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 70px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: 8px solid #069AF1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/*
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
*/
.container-fluid {
    padding: 0;
}

.Dcumple {
    padding-right: 0;
    width: 90px;
}

.Mcumple {
    padding-left: 0;
    padding-right:0;
    width: 80px;
}

.Acumple {
    padding-left: 0;
    width: 90px;
}

.Rmujer {
    width: 90px;
}




.user-sidebar-info {
    padding: 26px 35px;
    background-color: #069AF1;
    border-bottom: 1px solid #464A53;
    text-align: center;
    width: 100%px;
    height: 200px
}

.user-foto img {
    display: block;
    border: 2px solid #FFF;
    border-radius: 5px;
    width: 100px;
    height: 120px;
    background-color: #93A1A9;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}


