* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #ff;
    background: #000;
    padding: 10px 15px;
    font-size: 25px;
    text-decoration: none;
    -webkit-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    transition:all 200ms ease;
}

.social ul li .glyphicon-ok { background: #3b5998; }
.social ul li .glyphicon-heart { background: #00abf0; }
.social ul li .glyphicon-start { background: #d95232; }
.social ul li .glyphicon-fire { background: #ae181f; }
.social ul li .glyphicon-cog { background: #666666; }

.social ul li a:hover {
    padding: 10px 30px;
    background: #000;
}
