@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-k_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-kxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}


body {
    background: #252528;
    font-family: 'Raleway', sans-serif;
}

.menu {
    list-style: none;
    line-height: 42px;
    margin: 2em auto;
    /* outline: 1px solid red; */
    padding-left: 0;
    width: 15em;
}

.menu a {
    background: url(images/icons.png) no-repeat left top;
    color: #ddd;
    text-decoration: none;
    padding-left: 3em;
    text-transform: uppercase;
    display: block;
    width: 15em;
    --webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.menu a:hover {
    margin-left: 1em;
}
.menu li {
    box-shadow: 3px 0 rgba(255,255,255,.2) inset;
    /*border-left: 3px solid rgba(255, 255, 255,.2);*/
    margin-bottom: 5px;
    padding-left: .8em;
    /* outline: 1px solid green; */
    --webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.menu li:hover {
    box-shadow: 15em 0 rgba(255,255,255,.2) inset;
}

.menu li:nth-child(2) a{
    background-position: 0 -42px;
}

.menu li:nth-child(3) a{
    background-position: 0 -84px;
}

.menu li:nth-child(4) a{
    background-position: 0 -126px;
}

.menu li:nth-child(5) a{
    background-position: 0 -168px;
}

.menu li:last-child a{
    background-position: 0 -210px;
}



